*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter, system-ui, -apple-system, 'Segoe UI', Roboto, "Helvetica Neue", Arial;
}
.site-header {
  background: #e0e6eb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
}

.logo,  span{
    width: 400px;
    height: auto;
    margin: 5px;
    color: #0862e9;
    font-weight: 700;
    font-size: 1.5rem;
}

.menu {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.menu a {
  color: rgb(4, 0, 236);
  text-decoration: none;
  font-weight: bold;
}
.menu a:hover {
  text-decoration: underline;
  background: linear-gradient(90deg, #0fcae2, #03c212);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: width 0.4s ease;
}

.banner  {
   
  background-image: url("imagens/favicon_io/android-chrome-512x512.png");
   width: 100%;
   height: 600px;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   color: rgb(6, 253, 253);
   text-align: center;
   padding: 5rem 1rem;
}    

.title-banner, .subtitle-banner {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 2.5rem;
     margin-bottom: 1rem;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 4px rgb(255, 255, 255);
    
}

.btn-banner {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background-color: #0862e9;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 1rem;
}

.btn-banner:hover {
   
  background: rgba(0, 0, 0, 0.6);
  transform: scale(1.03);
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.3);

}
.site-footer {
    background-color: #e0e6eb;
    color: rgb(0, 16, 236);
    text-align: center;
    padding: 15px;
    
}
  